# Exclude closed source Anyka binaries and libs in HACK/var/patch
SDCARD/mmcblk0p2/HACK/usr/patch

# Exclude firmware log path
SDCARD/mmcblk0p2/HACK/var/log

# Exclude firmware upload path
SDCARD/mmcblk0p2/HACK/var/upload

# Exclude closed source Anyka binaries in HACK/bin 
SDCARD/mmcblk0p2/HACK/bin/anyka_ipc
SDCARD/mmcblk0p2/HACK/bin/anyka_ipc_patched

# Exclude firmware related files in SD cards root, which might have an unwanted impact to the devices behaviour
SDCARD/mmcblk0p1/_ak39_config.ini
SDCARD/mmcblk0p1/_ht_av_tuning.conf
SDCARD/mmcblk0p1/_ht_sw_settings.conf
SDCARD/mmcblk0p1/_ht_hw_settings.conf
SDCARD/mmcblk0p1/_ht_uuid.conf

# Exclude firmware and device related files, which are autosaved by LSCamoflash
SDCARD/mmcblk0p2/HACK/etc/config/anyka_cfg.ini
SDCARD/mmcblk0p2/HACK/etc/config/_ht_sw_settings.conf
SDCARD/mmcblk0p2/HACK/etc/config/_ht_hw_settings.conf
SDCARD/mmcblk0p2/HACK/etc/config/tuya_user.db
SDCARD/mmcblk0p2/HACK/etc/config/tuya_user.db_bak
SDCARD/mmcblk0p2/HACK/etc/config/tuya_enckey.db

# Exclude firmware backup path
SDCARD/mmcblk0p2/HACK/backup

# Exclude closed source Anyka related libraries in HACK/lib
SDCARD/mmcblk0p2/HACK/lib/libavssdkbeta.so

# Exclude hack_custom.conf
SDCARD/mmcblk0p2/HACK/etc/hack_custom.conf
SDCARD/hack_custom.conf

# Exclude local shadow version
SDCARD/shadow
SDCARD/passwd
SDCARD/httpd.conf
SDCARD/crontab

# Joe's backup files
*~

# Generated folders
#SOURCE/download
SOURCE/packages
SOURCE/staging
SOURCE/toolchain
SOURCE/build
SOURCE/.unpack

# Generated files
SOURCE/src/contrib/motor/motor
SOURCE/src/contrib/motor/motor.o
SOURCE/LSCamoflash-*.tar.gz
SOURCE/update-*.tgz
