[config]
bool_led_enable                = 1
bool_rotate180                 = 0
bool_temp_max_enable           = 1
int_temp_max_cvalue            = 60
bool_temp_min_enable           = 1
int_temp_min_cvalue            = -20
int_temp_unit_select           = 0
enum_ipc_lullaby_control       = 0
enum_ipc_lullaby_list          = 0
enum_ipc_lullaby_mode          = 0
enum_ipc_lullaby_volume        = 0
enum_basic_anti_flicker        = 1
bool_osd_time                  = 0
enum_night_mode                = 0
enum_night_vision_mode         = 1
bool_alarm_enable              = 1
bool_human_filter_enable       = 1
enum_alarm_sensitivity         = 0
bool_alarm_siren_enable        = 0
bool_audible_alarm_enable      = 0
bool_md_area_enable            = 0
str_md_area_rect               = 0,0,100,100
bool_object_outline_switch     = 1
bool_sound_detect_enable       = 1
enum_sound_sensitivity         = 0
enum_pir_switch                = 2
enum_custom_alarm_ctrl         = 0
enum_door_ctrl                 = 0
bool_flight_warn_switch        = 0
int_flight_warn_time           = 15
bool_sd_record_enable          = 1
enum_sd_record_mode            = 0
bool_wdr_enable                = 0
int_video_brightness           = 50
int_video_contrast             = 50
int_video_sharpness            = 50
bool_bulb_enable               = 0
int_floodlight_lightness       = 100
bool_patrol_switch             = 0
enum_patrol_mode               = 0
bool_track_enable              = 0
bool_cry_detect_enable         = 0
bool_sleep_mode                = 0
string_ptz_save_point          = 150,100
int_preset_num                 = 0
string_preset                  = Preset1
bool_has_config_wifi           = 1
