body {
    padding-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#video-container {
    width: 100%;
    max-width: 800px;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    position: relative;
}
#hls-player {
    width: 100%;
    border-radius: 10px;
    display: none;
}
